.ast_hash
*.dll
*.exe
vendor/
*.log
*.ps1
!build.ps1
!run_tests.ps1
ideas/
*.json
build/test_*.ahk
old/
scratch/
*.xml
*.html
!src/ahk2_grammar.json

!build/AstEngine.dll
!build/AstWorkbench.exe
!build/Flows/optimise.json